
body {
  font-family: Arial;
  margin: 2rem auto;
  max-width: 60rem;
  padding: 2rem;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  overflow-x: scroll;
  padding: 1rem;
}

.button-set {
  background: #C2C2C2;
  padding: 0.5rem 1rem;
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
}


.violation {
  border: 1px solid #CCC;
  margin: 2rem 0;
}

.violation .summary {
  padding: 1rem;
}

.violation .summary > *:first-child {
  margin-top: 0;
}
.violation .summary > *:last-child {
  margin-bottom: 0;
}

.summary__title {
  border-bottom: 1px dashed #CCC;
  padding-bottom: 0.5rem;
}

.violation footer {
  border-top: 1px solid #CCC;
  margin-top: 1rem;
}

/* .violation__instance {
  border: 1px solid #CCC;
  padding: 0 1rem;
  margin: 1rem 0 0;
} */

dt {
  font-weight: 600;
  margin-top: 2rem;
}