// Global HTML Element CSS

@import url('https://fonts.googleapis.com/css?family=Cairo:400,600,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: $color-blue--medium;;
  color: $color-grey--dark;
  font-family: 'Cairo', sans-serif;
  padding: 0;
  margin: 0;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  font-size: 0.9rem;
  overflow-x: scroll;
  padding: 0.8rem;
}

hr {
  background: $color-grey--light;
  border: none;
  height: 1px;
  margin: 4rem 0;
}

h5 {
  font-size: 1rem;
}

a {
  color: $color-blue--dark;
  font-weight: bold;
}

button {
  background: $color-blue--dark;
  border: 2px solid $color-blue--dark;
  color: $color-white;
  cursor: pointer;
  font-family: 'Cairo', sans-serif;
  font-size: 0.9rem;
  font-weight: normal;
  padding: 0.25rem 1rem;
  text-transform: uppercase;
}

table {

  border-top: 1px solid $color-blue--medium;

  th, td {
    padding: 0.5rem;
  }
  
  tbody th {
    text-align: right;
  }
  
  td {
    text-align: center;
  }  
}

