// https://coolors.co/2b2d42-8d99ae-edf2f4-3d4c8c-d80032

$color-black: #14141a;
$color-blue: #3d4c8c;
$color-grey--dark: #2b2d42;
$color-grey--medium: #8d99ae;
$color-grey--light: #edf2f4;
$color-red: #d80032;
$color-white: #FFF;