@import 'variables';
@import 'global';

@mixin mainContainer() {
  margin: 3rem auto;
  max-width: 50rem;
  padding: 0 1.5rem 1.5rem;
}


@media screen and (min-width: $desktop) {
  .desk-fixed {
    position: fixed;
  }
}


.root {
  margin: 0 auto;
  width: 100%;
}

.root {
  @media screen and (min-width: $desktop) {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 18rem minmax(30rem, 100%);
  }
}

.sidebar {
  background: $color-blue--dark;
  color: $color-grey--light;
  padding: 1rem;
}

.navigation {
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0;
    padding: 0;
  }

  &__link {
    
    color: $color-white;
    font-weight: normal;
    text-decoration: none;

    &.active {
      font-weight: bold;
    }
    
  }
}

.main-content {
  padding: 1rem;
}

.hide {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap;
}

.show {
  display: block;
}

.violationSet {
  &__title,
  &__summary {
    color: $color-grey--light;
  }
}

.violation {
  
  @include mainContainer;

  background: $color-green--gradient;

  .axeLink,
  &__topper {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .axeLink {
    color: $color-black;
    font-weight: normal;
    text-decoration: none;
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;

    .content-status {
      margin-right: 1rem;
    }
  }

  &__summary {

    font-size: 1.2rem;
    line-height: 140%;
    padding: 3rem;

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  &__tabs {
    position: relative;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 600;
  }

  &__topper {
    background: $color-white;
    display: flex;
    justify-content: space-between;
    margin: 0 -1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

.tabs {

  // TODO: have min-width for tabs be around 540px, otherwise have content stack

  position: relative;
  z-index: 1;

  button {
    background: transparentize($color-white, 0.5);
    border: none;
    color: $color-black;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    text-transform: none;
  }
  
  &__tabset {

    display: flex;
    list-style-type: none;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    position: relative;

    &__tab {

      font-weight: bold;
      margin: 0;

      &:first-child {
        margin-right: 1rem;
      }

      &.is-active button{
        background: $color-white;
      }
    }
  }

  &__contentset {
    background: $color-white;
    padding: 1.5rem;

    &__content {

      display: none;

      & > :first-child {
        margin-top: 0;
      }
      & > :last-child {
        margin-bottom: 0;
      }

      &.is-active {
        display: block;
      }
    }
  }
}

.tally {
  @include mainContainer;

  background: linear-gradient(#FFF, rgba(255,255,255,0.7));
}

.tableSet {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}